image: registry.gitlab.0lzi.com/containers/terraform:main

stages:
  - lint
  - plan
  - deploy

# Linting
include:
  - local: .gitlab/ci/common.yml
  - local: .gitlab/ci/env/cloudflare.yml
  - local: .gitlab/ci/env/mikrotik.yml
  - local: .gitlab/ci/env/openbao.yml
  - local: .gitlab/ci/env/proxmox.yml
