image: registry.gitlab.0lzi.com/containers/terraform:main

stages:
  - lint
  - plan
  - deploy

# Linting
include:
  - local: .gitlab/ci/lint/lint.yml
  - local: .gitlab/ci/lint/cloudflare.yml
  - local: .gitlab/ci/lint/mikrotik.yml
  - local: .gitlab/ci/lint/openbao.yml
  - local: .gitlab/ci/lint/proxmox.yml

# Plan

  - local: .gitlab/ci/plan/plan.yml
  - local: .gitlab/ci/plan/cloudflare.yml
  - local: .gitlab/ci/plan/mikrotik.yml
  - local: .gitlab/ci/plan/openbao.yml
  - local: .gitlab/ci/plan/proxmox.yml

# Deploy

  - local: .gitlab/ci/deploy/deploy.yml
  - local: .gitlab/ci/deploy/cloudflare.yml
  - local: .gitlab/ci/deploy/mikrotik.yml
  - local: .gitlab/ci/deploy/openbao.yml
  - local: .gitlab/ci/deploy/proxmox.yml
