#!/usr/bin/env bash

if nix develop --version >/dev/null 2>&1; then
  use flake ../;
fi


export VAULT_ADDR="https://vault.0lzi.com"
export TF_HTTP_USERNAME="gitlab-ci-token"

export TF_VAR_GITLAB_HOST="gitlab.0lzi.com"
export TF_VAR_PROJECT_ID="6"
export TF_VAR_STATE_NAME="proxmox"
export TF_VAR_ENV="proxmox"

if [ -z ${CI} ]; then
dotenv_if_exists ".envrc-secrets"
dotenv_if_exists
fi
