dns_record = {
  "example-record-1" = {
    name    = "example.com"
    content   = "1.2.3.4"

  },
  "example-record-2" = {
    name    = "www.example.com"
    content   = "1.2.3.4"

  }
  # add more records as needed
}

cloudflare_zone_id = "1234567890abcdefgh"
cloudflare_email = "example@email.com"
cloudflare_api_token = "apikeyhere"
